@mixin pair-txt-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* Color Palette */
$base-color: #704e2e;
$neutral-base-color: #79745c;
$text-color: #e6f8b2;
$accent-color: #cde77f;
$dark-accent-color: #709176;


body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: inline-grid;
  grid-template-columns: 0.25fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  width: 100%;
}

.dashboard {
  background-color: $base-color;
  grid-area: 1/1/4/2;
  color: $text-color;
  height: 100vh;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .dash-title {
    @include pair-txt-icon();
    
  }
  nav {
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      li {
        margin: 0.75em;
        a {
          @include pair-txt-icon();
          color: $text-color;
          text-decoration: none;
          text-align: center;
          p {
            position: relative;
            left: 4px;
          }
        }
        a:link, a:visited {
          color: $text-color;
        }
        a:hover, a:active {
          color: $accent-color;
          text-decoration: underline;
        }
      }
    }
  }

}

.top-section {
  background-color: $accent-color;
  grid-area: 1/2/1/4;
  padding: 0.5rem;
  color: $base-color;
  .way-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .search-section {
      display: flex;
      justify-content: stretch;
      align-items: center;
      .search-bar {
        background-color: $base-color;
        height: clamp(16px, 1.25em, 24px);
        width: calc(25px + 20vw);
        border: 2px solid $neutral-base-color;
        color: $text-color;
        @media (min-width: 670px) {
          width: 30vw;
        }
        border-radius: 4px;
      }
      .search-bar:focus {
        background-color: $dark-accent-color;
      }
    }
    .profile-section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: clamp(10px, 0.8em, 16px);
      * {
        margin: 4px 0.25em;
      }
      .crop-container {
        flex-shrink: 0;
      }
    }
  }
  .lower-top-section {

  }
}

.collapsible {
  display: none;
  @media (min-width: 600px) {
    display: inline;
  }
}

.crop-container {
  overflow: hidden;
  width: min(64px, 10vw);
  height: min(64px, 10vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 4px solid $neutral-base-color;
  img {
    $scale-factor: 10vw;
    width: min(200px, calc($scale-factor*4));
    height: min(150px, calc($scale-factor*3));
    margin: 8px 0 0 -15px;
  }
}